body{
    background-image: url(photo1.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 750px;
}
h1{
    color: wheat;
    font-size: 45px;   
}
label{
    color: white;
    font-size: 23px;
    font-weight: bold;
}
input{
    height: 26px;
    width: 350px;
    border-radius: 15px;
}
button{
    height: 50px;
width: 190px;
background-color: orange;
columns: white;
font-size: 23px;
border-radius: 30px;
font-weight: bold;
}
p{
    color: yellow;
    font-size: 23px;
}